<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Github</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="#" class="username"></a></li>

    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Search Github</a></li>
    </ul>
  </section>
</nav>



<div class="row">
  <div class="small-2 large-4 columns">
    <div class="left box">
      <ul id="contact-information">

      </ul>
    </div>
  </div>
  <div class="small-4 large-4 columns">
    <div class="middle box">
      <ul id="repo-information">

      </ul>
    </div>
  </div>
  <div class="small-6 large-4 columns">
    <div class="middle box">
      <ul id="feed-information">

      </ul>
    </div>
  </div>
</div>
